extends layouts/main

block content
  .form-container
    form(action=routes.editVideo(video.id), method="post")
      input(type="text", placeholder="Title", name="title", require=true, value=video.title)
      textarea(placeholder="Description", name="description", require=true)=video.description
      input(type="submit", value="Upload Video", require=true)
    a.form-container__link.form-container__lint--delete(href=routes.deleteVideo(video.id))
      button.delete Delete Video